{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block content %}
<head>
</head>
<body>



    <div class="center">
        <p>
            <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
              Our Project
            </button>
          </p>
          <div class="collapse" id="collapse1">
            <div class="card card-body">
              We chose to develop a Machine Learning model that analyzes x-rays of lungs to determine whether the patient has pneumonia.
            </div>
          </div>

          <br/>


          <p>
            <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
              Pneumonia
            </button>
          </p>
          <div class="collapse" id="collapse2">
            <div class="card card-body">
                Pneumonia is a disease which causes lungs to fill with pus or liquid, and is caused by variety of organisms (i.e. bacteria and fungi).
                Up to date, it is a very large cause of death worldwide. There are 1 Million cases of pneumonia annually in the US, and 50,000 deaths.
    
            </div>
          </div>

          <br/>
    
          <p>
            <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
              Pneumonia misdiagnosis
            </button>
          </p>
          <div class="collapse" id="collapse4">
            <div class="card card-body">
              Pneumonia is frequently misdiagnosed, particularly in Malaysisa and India, where patients were found to have a 38% and 50% misdiagnosis rate respectively.
            </div>
          </div>

          <br/>

          <p>
            <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
              The Personal Cost
            </button>
          </p>
          <div class="collapse" id="collapse3">
            <div class="card card-body">
                Misdiagnosed Pneumonia can have devestating consequences for patients: <br/>
                “My mother's hospitalization started in Oct. 2020. We had to call 15 hospitals in order to find one which could take care of her. She stayed there for 10 days, and the doctors predicted she had pneumonia. However, 2 years later, we realized she had a different type of lung disease, and she had been on the wrong treatment all along. Now, this has become a situation of life or death for her.”
                Sushmita Saha, (mother of Ayush), April 2022
                
            </div>
          </div>


          <br/>


          <p>
            <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
              Benifits of Automating Pneumonia Decection
            </button>
          </p>
          <div class="collapse" id="collapse5">
            <div class="card card-body">
            There are many hospitals in the world, especially in less wealthy countries, in which the doctors are insufficiently trained for diagnosis.
            Additionally, due to COVID-19, hospitals are full and understaffed, so any tool that will help medical personnel treat patients more effieiently would be widely benificial.


            </div>
          </div>

          <br/>


          <p>
            <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
              Resources
            </button>
          </p>
          <div class="collapse" id="collapse6">
            <div class="card card-body">
                <a href="https://pubmed.ncbi.nlm.nih.gov/32723999/" target="_blank">Study on Malaysisan pneumonia statistics</a>
                <a href="https://www.medindia.net/health_statistics/diseases/pneumonia-india-healthstatistics.asp/" target="_blank">Study on Indian pneumonia statistics</a>
            </div>
          </div>

          <br/>

    </div>


</body>
{% endblock %}
